<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><?js= title ?> - Documentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="styles/stylesheet.css" type="text/css" rel="stylesheet"/>
    <link href="styles/json.css" type="text/css" rel="stylesheet"/>
    <link href="styles/themes/theme-default.css" type="text/css" rel="stylesheet"/>
</head>
<body class="page-loading section-top-fixed"></body>
<div id="page-loader">
    <div class="loader loader-light"></div>
</div>
<!--section#top-->
<section id="top" class="navbar navbar-fixed-top">

    <!--header.top-->
    <header class="top">
        <div class="menu-toggler sidebar-toggler"><i class="fa fa-long-arrow-left"></i></div>
        <div class="page-logo">
            <div class="text-logo">Packadic</div>
        </div>
        <!--nav.top-nav-->
        <a data-toggle="collapse" data-target=".navbar-collapse" class="menu-toggler responsive-toggler btn btn-default" href="#"><i class="fa fa-bars fa-lg"></i></a>

    </header>
</section>
<div class="clearfix"></div>
<!--#page-->
<section id="page">

    <!--section#side-->
    <div class="sidebar-wrapper">
        <!--section#side aside-->
        <nav class="sidebar-nav navbar-collapse collapsent">
            <div class="loader loader-light"></div>
            <ul data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" class="sidebar-nav-menu">
                <?js= this.nav ?>
            </ul>
        </nav>
    </div>
    <!--section#content-->
    <div class="main-wrapper">
        <!--main-->
        <main>
            <header class="content">
                <?js if (obj.kind !== 'mainpage' && (obj.kind !== 'package')) { ?>
                <div class="page-title pull-left">
                    <h1 class="page-title"><?js= title ?></h1>
                </div>
                <?js } ?>
            </header>
            <div class="content">
                <?js= content ?>


            </div>
        </main>
    </div>
</section>
<!--section#bottom-->
<section id="bottom">
    <!--footer.bottom-->
    <footer class="bottom">
        <p>Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?> using the Packadic theme</p>
    </footer>
</section>
<script src="scripts/init.js"></script>
<script src="scripts/jsdoc.js"></script>
<script src="scripts/boot.js"></script>
</html>
