<div class="row">
	<div class="col-md-12">
		<div class="box box-style-light">
			<header>
				<h3><?js= header ?></h3>
			</header>
			<section>
    			<?js= content.replace(/<h1>.*<\/h1>/, '') ?>
			</section>
		</div>
	</div>
</div>
